{% extends 'listings/base.html' %}

{% block content %}
    <h2> {{ listings.description }}</h2>
    <ul>
        <li>Description: {{listings.description}}</li>
        <li>Sold: {{listings.sold|yesno}}</li>
        <li>Year: {{listings.year}}</li>
        <li>Type: {{listings.get_type_display}}</li>
        
    </ul>
    <a href="{% url 'Listings-list' %}">Back to all Lists</a>
    <a href="{% url 'update-listing' listings.id %}">Update Listing</a>
    <a href="{% url 'delete-listing' listings.id %}">[DELETE]</a>
    
{% endblock %}